body {
    font-size: 16px;
    margin:0px;
    background-color:#00366E;
}

#languagebar_container {
    background-color:#1989FF;
    
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}


#heading_container {
    background-color:#00366E;
       
}

#heading_content {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    
    padding-bottom: 25px;
}

#banner_container h1 {
    /*padding-top:40px;*/
    margin:0px;
    text-align: center;
}

#button_bar_container{
    background-color:#1989FF;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 12px;
   
}

.button_inbar{
    
    list-style-type:none;
    float:left;
    /*width:140px;*/
    font-size:20px;
    /*border:2px rgb(10,10,10) solid;*/
    /*padding-top:5px;
    padding-bottom:5px;
    margin-top:5px;
    margin-bottom:5px;*/
   
    padding: 10px;
    text-align: center;
    
}

.spacer_inbar {
    list-style-type:none;
    float:left;
    background-color: black;
    width: 2px;
    height: 42px;
}

.button_inbar:hover {
    background-color:#65B0FF;
}

#page_button{
    background-color:#65B0FF;
}

#button_bar_container a:link{
    text-decoration: none;
    color: black;
}

#button_bar_container a:visited{
    text-decoration: none;
    color: black;
}

#button_bar_container ul{
    /*width:368px;
    margin-left:auto;
    margin-right:auto;*/
    height: 42px;
    margin: 0px;
    padding: 0px;
    
}

.clear_float {
    float: none;
    clear: both;
}

#top_banner_img {
    background-image: url("st_esprit_int1 - Copy.jpg");
    /*width: 1000px;*/
    height: 228px;
}

#index_blog_post_sticky p{
    text-indent: 20px;
}


.blog_post #address {
    text-indent: 0px;
    padding-left: 50px;
}

#index_blog_post_sticky h1 {
    font-size: 30px;
    text-align: center;
    border-bottom: solid 2px #6E4600;
    color: #6E4600;
   
}

#map_container {
    text-align: center;
}

.photos_container li{
    float: left;
    list-style-type:none;
    width: 266px;
    height: 245px;
    text-align: center;
}

.photos_container ul{
    margin-left: 1px;
    padding: 0px;    
}

#priestimage {
    float: right;
    
}

#schedual_container {
    background-color: #E0FFFF;
}

.donate_container {
    background-color: #E0FFFF;
    text-align: center;
    border-radius: 6px;
    padding: 26px;
}

.donate_container p {
    margin: 0;
}

.nobulletli {
    list-style-type:none;
}

#footer {
    background-color:#00366E;
    height: 20px;
    
   
}

#webcontent_background
{
    background-color: #FFFFFF;
    padding-bottom: 10px;
}

#easter_scedule li{
    width: 266px;
    float: left;
    list-style-type:none;
    margin-bottom: 20px;
}

#easter_scedule {
    height: 300px;
    padding: 0px;
    margin: 0px;
}

#easter_scedule b{
    text-align: center;
}

.centeredpost {
    text-indent: 0px;
    text-align: center;
}

#smalltopnavback {
    background-image: url("../images/st_esprit_int1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 149px;
    background-position: center center;
}

/*.galleryCarousel .carousel-inner div {
    height: 500px !important;
}

.galleryCarousel .carousel-inner img {
    max-height: 100% !important;
}*/
.galleryCarousel {
    background-color:#5a5a5a;
}

#noImagesMessage {
    display: none;
}

#imageListDisplay .btn {
    margin:0px 5px 0px 5px;
}

.carousel-inner .item  > a > img {
    margin-left:auto;
    margin-right:auto;
}

.corona_update {
	text-align: center;
    font-size: 20px;
    font-weight: bold;
}